.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}
body{
  font-family: "Poppins", sans-serif;
}

.container{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  border-radius: 5px ;
  width: 300px;
  margin: 10px auto;
  padding: 10px;

}
h4{
  text-transform: uppercase;
  margin: 2px;
}
p{
  margin: 2px;
}
img{
  width: 100%;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
